
<nav>
  <a class="logo" href="#">ExamPortal</a>
   <label aria-hidden="true" for="toggle"><i class="fas fa-bars"></i></label>

  <ul>
    <!-- <li><a class="link" href="#">Home</a></li>
    <li><a class="link" href="#">About Us</a></li>
    <li><a class="link" href="#">Contact</a></li> -->

    <li><a class="link" routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a class="link" routerLink="/">About Us</a></li>
    <li><a class="link" routerLink="/">Contact</a></li>
  </ul>
 
</nav>

<router-outlet></router-outlet>
<!-- <app-home-page></app-home-page>  -->
  <!-- <app-login2ndpage></app-login2ndpage> -->
 
 <!-- <app-register>
</app-register> -->


